@import '../../../../scss/vars.scss';

// Константы для медалей
$medal-colors: (
  1: #ffd700, // Gold
  2: #c0c0c0, // Silver
  3: #cd7f32  // Bronze
);

$c_item-border-main-color: #9d9b9b;
$c_item-border-secondary-color: #474747;

.leaderboard-page {
  .records {
    &__item-wrapper {
      position: relative;
      border-radius: 16px;
      background: linear-gradient(90deg, $c_item-border-main-color 52.5%, $c_item-border-secondary-color 100%);
      margin: 5px 0;
      padding: 2px;

      // Медальные рамки
      @each $rank, $color in $medal-colors {
        &--rank-#{$rank} {
          background: linear-gradient(90deg, $color 52.5%, darken($color, 20%) 100%);
        }
      }
    }

    &__item {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      background-color: $c_black;
      border-radius: 14px;
      color: $c_white;
    }

    &__item-info {
      display: flex;
      gap: 24px;
    }

    &__item-avatar {
      width: 97px;
      height: 97px;
      border: 4px solid $c_default-border;
      border-radius: 50%;
    }

    &__item-login {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__item-rank {
      font-size: 18px;
      color: $text-color-muted;
      margin-bottom: 4px;
    }

    &__item-name {
      font-size: 18px;
      font-weight: 800;
      color: $text-color;
      margin: 0;
    }

    &__item-result {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &__item-score {
      display: flex;
      flex-direction: column;
      text-align: right;
    }

    &__item-label {
      font-size: 14px;
      color: $text-color-muted;
      margin-bottom: 4px;
    }

    &__item-value {
      font-size: 18px;
      font-weight: 800;
      color: $text-color;
      margin: 0;
    }

    &__item-medal {
      width: 62px;
      height: 62px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1) rotate(5deg);
      }
    }

    // Специальные стили для призовых мест
    @each $rank, $color in $medal-colors {
      .records__item-wrapper--rank-#{$rank} {
        .records__item-rank,
        .records__item-value {
          color: $color;
        }

        .records__item-medal {
          transform: scale(1 + (0.1 * (4 - $rank)));

          &:hover {
            transform: scale(1 + (0.1 * (4 - $rank))) rotate(5deg);
          }
        }
      }
    }
  }

  &__load-more {
    margin: 48px auto 0 auto;
  }
}