@import './../../scss/vars.scss';

.create-thread-page {
  margin-top: 100px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__submit {
      align-self: flex-start;
    }
  }
}
