@import '../../scss/vars.scss';

.private-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  z-index: 0;

  &__body {
    flex: 1 1 100%;
    padding-top: $layout_body-m-top;
  }
}
