@import '../../../../scss/vars.scss';

.pause-help {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 173px;
  height: 56px;

  background: url('@/assets/images/svg/pause-and-help-controll-bg.svg')
    no-repeat center center;
  background-size: contain;

  &__buttons {
    width: 100%;
    padding: 0 36.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
