@import './../../scss/vars.scss';

.leaderboard-page {
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 360px;
    height: 165px;
    background-image: url('@/assets/images/destroyed-tanks.png');
  }

  .container {
    //justify-items: center;
    margin-bottom: 10%;
  }

  &__logo {
    display: block;
    margin: 0 auto 44px auto;

    max-width: 255px;
    height: 124px;
  }

  &__title {
    margin: 48px 0;
  }

  .records {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
  }
}
