$border-radius--default: 12px;

// fonts
$f_default-font-family: 'Roboto', sans-serif;

// images
$img_default-background: url('@/assets/images/page-background.png');
$img_profile_background_right: url('@/assets/images/profile-background-right.png');
$img_profile_background_left: url('@/assets/images/tank-dead.png');

// main colors
$primary-color: #839d22;
$second-color: #00aeef;
$text-color: #f8f8f8;
$text-color-muted: #f5f5f5;
// colors
$c_default-background: #010101;

$c_default-border: #313131;

$c_button: $primary-color;
$c_button-top: #d9eca2;
$c_button-bottom: #53650b;

$c_button_blue: $second-color;
$c_button-top_blue: #5fe1ff;
$c_button-bottom_blue: #0079a7;

$c_input-default-border: #707070;
$c_input-default-border-hover: #b1b1b1;
$c_input-default-label: #a5a5a5;

$c_avatar-border-color: #313131;
$c_overlay-background: rgba(0, 0, 0, 0.5);
$c_overlay-background-hover: rgba(0, 0, 0, 0.7);

$c_success: #48c548;

$c_white: #ffffff;

$c_button_blue: $second-color;
$c_button-top_blue: #5fe1ff;
$c_button-bottom_blue: #0079a7;

$c_white: #fff;
$c_black: #000;

// fonts/links
$c_font-default: $c_white;
$c_font-success-message: #a2c61d;
$c_font-error-message: #ef2121;

// animations
$animation-base-speed: 0.18s;

// effects
$red-ligth-gradient: radial-gradient(#fc2204 -40%, transparent 70%);
$main-text-shadow: 1px 0 $c_black, -1px 0 $c_black, 0 1px $c_black,
  0 -1px $c_black, 1px 1px $c_black, -1px -1px $c_black, 1px -1px $c_black,
  -1px 1px $c_black;

// headers
$nav_list-gap: 40px;
$nav_list-padding-y: 48px;
$nav_list-padding-x: 0;
$nav_link-font-size: 18px;
$nav_link-font-weight: 900;

// layouts
$layout_body-m-top: 40px;

// grid system
$grid-columns: 12;
$gutter-width: 15px;
$container-max-width: 1140px;
$container_fluid-padding: 0 40px;
$container_fluid-max-width: 100%;
