$border-radius--default: 12px;
// colors
$c_default-background: #010101;
$c_button: #839D22;
$c_button-top: #D9ECA2;
$c_button-bottom: #53650B;
$c_white: #FFFFFF;
$c_black: #000;

// fonts/links
$c_font-default: $c_white;
