@import '../../../scss/vars';

.custom-button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: $border-radius--default;
  background-color: $c_button;

  padding-top: 20px;
  padding-bottom: 20px;
  display: block;

  border-top: 5px solid $c_button-top;
  border-bottom: 5px solid $c_button-bottom;

  font-size: 16px;
  font-family: $f_default-font-family;
  font-weight: 900;
  color: $c_font-default;
  text-decoration: none;
  text-align: center;

  span {
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 0 $c_black, -2px 0 $c_black, 0 2px $c_black,
      0 -2px $c_black, 2px 2px $c_black, -2px -2px $c_black, 2px -2px $c_black,
      -2px 2px $c_black;
  }

  &_fix-width {
    min-width: 300px;
  }

  &:hover {
    border-top: 5px solid $c_button-bottom;
    border-bottom: 5px solid $c_button-top;
  }
}
